# Mark non-PHP code as vendored so it doesn't count in language stats
*.ts linguist-vendored
*.tsx linguist-vendored
*.js linguist-vendored
*.scss linguist-vendored
*.css linguist-vendored
*.html linguist-vendored
